@import "tailwindcss";

@theme {
  --color-primary: #13ec75;
  --color-primary-dark: #10c863;
  --color-background-light: #f6f8f7;
  --color-background-dark: #141e18;
  --color-surface-light: #ffffff;
  --color-surface-dark: #1f2b24;
  --color-text-main: #121614;
  --color-text-secondary: #6a8174;
  --color-text-main-light: #121614;
  --color-text-main-dark: #e0e6e2;
  --color-text-sub-light: #6a8174;
  --color-text-sub-dark: #9ab0a3;
  --color-danger: #e65555;

  --font-display: "Lexend", sans-serif;

  --radius-lg: 1rem;
  --radius-xl: 1.5rem;

  --shadow-soft: 0 4px 20px -2px rgba(0, 0, 0, 0.05);
}

@layer base {
  html,
  body {
    font-family: "Lexend", sans-serif;
    -webkit-tap-highlight-color: transparent;
    min-height: 100dvh;
    @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-100;
  }
}
